<!doctype html>
<html>
<head>
    {% include 'head.html' %}
</head>
<body>
<header>
    <div class="banner">
        <div class="container">
            <div class="logo">
                <a href="/"><img src="/static/logo.png" class="img-responsive" alt="" /></a>
            </div>
        </div> 
            <div class="header-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            {% for message in get_flashed_messages() %}
                                <div class="flash">{{ message }}</div>
                            {% endfor %}
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="metanav">
                                {% if not session.logged_in %}
                                    <a href="{{ url_for('login') }}">log in</a>
                                {% else %}
                                    <a href="{{ url_for('logout') }}">log out</a>
                                    <a href="{{ url_for('add_entry') }}"> |Add entry</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</header>

<div class="page">
    <div class="container">
        <div class="content">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <p>Template by <a href="http://w3layouts.com" target="_blank"> w3layouts</a></p>
    </div>
</div>
<div id="popup" class="popup-overlay hide">
    <div class="popup vertically-positioned">
        <div class="popup-inner">
            <i class="fa fa-times fa-lg close-popup" aria-hidden="true"></i>
            <p class="popup-msg"></p>
        </div>
    </div>
</div>
        <script src="/static/script.js"></script>
</body>
</html>
