<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<header class="clearfix">
    <div class="container">
        <h1 class="pull-left">Blog</h1>
        <div class="metanav">
            {% if not session.logged_in %}
            <a href="{{ url_for('login') }}">log in</a>
            {% else %}
            <a href="{{ url_for('logout') }}">log out</a>
            {% endif %}
        </div>
    </div>
</header>
<div class="page">
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block body %}
        {% endblock %}
    </div>
</div>
        <script src="/static/script.js"></script>
</body>
</html>
