{% extends "layout.html" %}
{% block body %}
<!--<h2>Login</h2>-->
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
<form action="{{ url_for('login') }}" method="post" class="add-entry">
    <div>
        <label for="username">
            <span>Username:</span>
            <input type="text" name="username" id="username">
        </label>
    </div>
    <div>
        <label>
            <span>Password:</span>
            <input type="password" name="password">
        </label>
    </div>
        <input class="more" type="submit" value="Login">
</form>
{% endblock %}
