recursive-include blog/configurations *.ini
recursive-include blog/database *.sql
recursive-include blog/templates *.html
recursive-include blog/static *.js *.css logo.png banner.jpg
recursive-include blog/static/images/watermark *.png
recursive-exclude blog/tests *.py
exclude *.pyc
exclude  fabfile.py
